@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
/* :root {
  --font-space-grotesk: 'Space Grotesk', sans-serif;
}

body {
  font-family: var(--font-space-grotesk);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


/* Timeline Container */
.about-section {
  max-width: 100%; /* เต็มความกว้างของหน้าจอ */
  margin: 0 auto;
  padding: 10px; /* เว้นระยะขอบน้อยลง */
  font-family: 'Arial', sans-serif;
  color: #333; /* สีข้อความ */
}

.about-section h1 {
  text-align: center;
  font-size: 1.2rem; /* ขนาดตัวอักษรเล็กลง */
  margin-bottom: 10px;
  color: #333; /* สีหัวข้อ */
}

.timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 15px; /* ตำแหน่งเส้น Timeline */
  bottom: 0;
  width: 2px;
  background: #ddd; /* สีของเส้น Timeline */
}

/* Timeline Item */
.timeline li {
  position: relative;
  margin: 15px 0;
  padding-left: 50px; /* ลดระยะ Padding */
}

.timeline .circle {
  position: absolute;
  left: 10px; /* ตำแหน่งวงกลม */
  top: 0;
  transform: translateY(50%);
  width: 12px; /* ขนาดวงกลมเล็กลง */
  height: 12px;
  background-color: #f9f9f9; /* สีพื้นหลังวงกลม */
  border: 2px solid #ddd; /* สีเส้นขอบวงกลม */
  border-radius: 50%;
}

.timeline .content {
  background-color: #f8f8f8; /* สีพื้นหลังกล่อง */
  padding: 8px 10px; /* ลด Padding ของกล่อง */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* เพิ่มเงาเบาๆ */
  margin-left: 20px; /* เว้นระยะจากวงกลม */
  width: calc(100% - 40px); /* ปรับขนาดกล่องให้เหมาะกับหน้าจอ */
  max-width: 280px; /* จำกัดขนาดกว้างสุดสำหรับ Mobile-S */
}

.timeline .content h2 {
  font-size: 0.8rem; /* ลดขนาดหัวข้อ */
  margin: 0 0 5px;
  color: #333; /* สีหัวข้อ */
}

.timeline .content .view-link {
  font-size: 0.7rem; /* ลดขนาดลิงก์ */
  color: #007bff; /* สีลิงก์ */
  text-decoration: none;
}

.timeline .content .view-link:hover {
  text-decoration: underline;
}

.timeline .content p {
  margin: 0;
  font-size: 0.75rem; /* ขนาดข้อความย่อหน้าเล็กลง */
  line-height: 1.4;
  color: #555; /* สีข้อความ */
}
